*{
  list-style: none;
}

.container-fluid{
  margin-top: 5rem;
}


.btn_home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 700px) {



  /* .list-titule {
     width: auto;
  }
  .list-titule th{

    background-color: blue;

  }
*/
  .content{
    height: 80%;
    margin-top: 5rem;
  }
 }


