<div class="content">
  <div class="image">
    <img
      class="img-fluid"
      src="../assets/logo-casa.jpg"
      alt="logo tipo só vamos"
    />
  </div>

  <div class="frases mt-4 col">
    <div>
      <h3 class="mb-5">CONQUISTE O SONHO DA CASA PRÓPIA</h3>
      <h3 class="mb-5">
        EM APENAS ALGUNS PASSOS FIQUE MAIS PERTO DE SEGURAR SUAS CHAVES !
      </h3>

      <a class="btn btn-success" routerLink="/next">Simulação</a>
    </div>
  </div>
</div>

<!-------------Responsivo---------->

<!-- <div class="row container-fluid " id="mobile">
    <div class="col-12 ">
    <img class="img-fluid" src="../assets/code.png" alt="logo tipo só vamos">
    </div>

    <section id="main" class="mt-1 col-12 ">
    <div class="frases  container-fluid">
    <div class="m-4 ">CONQUISTE O SONHO DA CASA PRÓPIA</div>
    <div class="m-4">EM APENAS ALGUNS PASSOS FIQUE MAIS PERTO DE SEGURAR SUAS CHAVES !</div>
    </div>

    <a  id="btn" class="btn btn-success mt-3  container-fluid "  routerLink="/next">SIMULAÇÃO DE FINACIAMENTO</a>
    </section>

  </div> -->
