
.container-forms{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -60px;
  font-family: var(--fonte-family);
}

.content{
  background-color: var(--cor-modal);
  background: linear-gradient(var(--cor-linear));
  height: 20rem;
  width: 90%;
  border-radius: 9px;
  box-shadow: 2px 4px 4px 4px  gray;
}
 h1{
  font-size: 1.8rem;
 }
