
<div class="row m-2 container-fluid " id="pc">
    <div class="col-5 ">
    <img class="img-fluid" src="../assets/code.png" alt="logo tipo só vamos">
    </div>
    
    <section id="main" class="mt-4 col-5 ">
    <div class="frases xl container-fluid">
    <div class="m-4 ">CONQUISTE O SONHO DA CASA PRÓPIA</div>
    <div class="m-4 mt-5">EM APENAS ALGUNS PASSOS FIQUE MAIS PERTO DE SEGURAR SUAS CHAVES !</div>
    </div>
    
    <a  id="btn" class="btn btn-success btn-lg mt-5 m-5 container-fluid"  routerLink="/next">SIMULAÇÃO DE FINACIAMENTO</a>
    </section>
    
  </div>
  <!-------------Responsivo---------->

  <div class="row container-fluid " id="mobile">
    <div class="col-12 ">
    <img class="img-fluid" src="../assets/code.png" alt="logo tipo só vamos">
    </div>
    
    <section id="main" class="mt-1 col-12 ">
    <div class="frases  container-fluid">
    <div class="m-4 ">CONQUISTE O SONHO DA CASA PRÓPIA</div>
    <div class="m-4">EM APENAS ALGUNS PASSOS FIQUE MAIS PERTO DE SEGURAR SUAS CHAVES !</div>
    </div>
    
    <a  id="btn" class="btn btn-success mt-3  container-fluid "  routerLink="/next">SIMULAÇÃO DE FINACIAMENTO</a>
    </section>
    
  </div>
  