<!-------------- tela 3 -------------->
<div class="container-forms">
  <div class="content  mt-4">
    <header class="header-modal">
      <h5 class="text-start">
        <i class="bi bi-house-up"></i> Dados do Imóvel</h5>
    </header>

    <form (ngSubmit)="onSubmit()" class="border-top w-100" [formGroup]="formulario  ">

      <div class="row container ">
        <!---------------Renda mensal ------------>
        <div class="col-md-6 mt-4">
          <div class="form-floating form-group">
            <input
              type="tell"
              prefix="R$"
              suffix=",00"
              mask="separator.2"
              thousandSeparator="."
              [dropSpecialCharacters]="true"
              class="form-control"
              formControlName="rendaMensal"
              id="rendaMensal"
              placeholder="monthly income"/>

            <div
              *ngIf="formulario.controls.rendaMensal?.touched &&
                formulario.controls.rendaMensal?.errors">
              <small
                class="text text-danger"
                *ngIf="formulario.controls.rendaMensal.errors?.required">
                   Renda mensal é obrigatoria
              </small>
            </div>

            <label for="rendaMensal">Renda Mensal :</label>
          </div>
        </div>

        <!-- ------Valor do imóvel------------>
        <div class="col-md-6 mt-4">
          <div class="form-floating form-group">
            <input
              type="tell"
              min="5"
              prefix="R$"
              suffix=",00"
              [dropSpecialCharacters]="true"
              mask="separator.2"
              thousandSeparator="."
              class="form-control"
              formControlName="valorImovel"
              id="valorImovel"
              placeholder="value of the property "/>

            <div
              *ngIf="
                formulario.controls.valorImovel?.touched &&
                formulario.controls.valorImovel?.errors
              "
            >
              <small
                class="text text-danger"
                *ngIf="formulario.controls.valorImovel.errors?.required"
              >
                Valor do imóvel é obrigatório</small
              >
            </div>
            <label for="valorImovel">Valor do Imóvel :</label>
          </div>
        </div>

            <!-- ------juros------------>
            <div class="col-md-6 mt-4">
              <div class="form-floating form-group">
                <input
                  type="number"
                  suffix="%"
                  class="form-control"
                  formControlName="taxa"
                  placeholder="taxa"/>

                <div
                  *ngIf="
                    formulario.controls.taxa?.touched &&
                    formulario.controls.taxa?.errors" >
                  <small
                    class="text text-danger"
                    *ngIf="formulario.controls.taxa.errors?.required"
                  >
                  taxa é obrigatório</small
                  >
                </div>
                <label for="valorImovel">Taxa :</label>
              </div>
            </div>

        <!---------Valor da entrada --------->
        <div class="col-md-6 mt-4">
          <div class="form-floating form-group">
            <input
              type="tell"
              prefix="R$"
              suffix=",00"
              mask="separator.2"
              thousandSeparator="."
              [dropSpecialCharacters]="true"
              class="form-control"
              formControlName="valorEntrada"
              id="valorEntrada"
              placeholder="value of input"
              required
              (keyup)="entradaValidacao()"
            />

            <div
              *ngIf="
                formulario.controls.valorEntrada?.touched &&
                formulario.controls.valorEntrada?.errors">
              <small
                class="text text-danger"
                *ngIf="formulario.controls.valorEntrada?.errors?.required">
                Valor da entrada é obrigatório
                </small>
            </div>
            <small *ngIf="formulario.controls.valorEntrada?.touched" class="text text-danger"
              >{{ menssage }}
              <!-- {{ entradaMin | currency : "BRL" }} -->
            </small
            >
            <label for="valorEntrada">Valor da Entrada : </label>
          </div>
        </div>

        <!---------Quantidade de parcelas ---->

        <div class="col-md-6 mt-4">
          <div class="form-floating form-group">
            <input
              type="number"
              class="form-control"
              id="quantidadeParcelas"
              formControlName="quantidadeParcelas"
              placeholder="your phone"
            />

            <div
              *ngIf="
                formulario.controls.quantidadeParcelas.touched &&
                formulario.controls.quantidadeParcelas?.errors">
              <small
                class="text text-danger"
                *ngIf="formulario.controls.quantidadeParcelas.errors?.required">
                Parcelas é obrigatoria !.</small>
            </div>

            <div
              *ngIf="
                formulario.controls.quantidadeParcelas.touched &&
                formulario.controls.quantidadeParcelas?.errors">
              <small
                class="text text-danger"
                *ngIf="formulario.controls.quantidadeParcelas.errors?.max">
                Parcelas máxima de 360!.</small>
            </div>

            <label for="quantidadeParcelas"
              >Quantas parcelas?
            </label>
          </div>
        </div>
      </div>
      <!--buttons  -->
      <div class="d-flex justify-content-evenly align-items-center text-center mt-4  border-top w-100 pt-4">
        <button
            type="button"
            class="btn btn-light"
            routerLink="/home">
            Voltar
          </button>
          <button
          class="btn btn-dark"
            type="submit"
            [disabled]="formulario.invalid">
            Prosseguir
          </button>
      </div>
    </form>
  </div>
</div>
